<div class="card shadow mb-2 border-left-secondary">
	<div class="card body">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sort direction
			</button>		    
			<div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
				<a class="dropdown-item" href="#">Sort by title</a>
				<a class="dropdown-item" href="#">Sort by style</a>
			</div>
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Results per page	
			</button>		    
			<div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
				<a class="dropdown-item" href="#">10 per page</a>
				<a class="dropdown-item" href="#">20 per page</a>
			</div>

		</div>
	</div>
</div>


