<div class="card shadow mb-2 border-left-secondary">
	<div class="card body">
		<div class="row ml-2">
			<div class="btn-group btn-group-toggle mr-auto pt-1 pb-1" data-toggle="buttons">
				<label class="btn btn-primary {% if search_type == 'hits' %} active {% endif %}" onclick="search(changeSearchType('hits'))">
					Individual hits
				</label>
				<label class="btn btn-primary {% if search_type == 'clusters' %} active {% endif %}" onclick="search(changeSearchType('clusters'))">
					Clusters
				</label>
				<label class="btn btn-primary {% if search_type == 'cluster' %} active {% else %} disabled {% endif %}">
					Specific cluster
				</label>

			</div>
			<div class="dropdown mr-1 pt-1 pb-1">
				<button class="btn btn-primary dropdown-toggle" type="button" id="sortDirectionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort direction
				</button>		    
				<div class="dropdown-menu animated--fade-in" aria-labelledby="sortDirectionButton" style="">
					<span class="dropdown-item" onclick="search('sort', 'title asc')">Sort by title</span>
					<span class="dropdown-item" onclick="search('sort', 'style asc')">Sort by style</span>
				</div>
			</div>
			<div class="dropdown mr-4 pt-1 pb-1">
				<button class="btn btn-primary dropdown-toggle" type="button" id="resultsPerPageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Results per page	
				</button>		    
				<div class="dropdown-menu animated--fade-in" aria-labelledby="resultsPerPageButton" style="">
					<span class="dropdown-item" onclick="search('rows', 10)">10 per page</span>
					<span class="dropdown-item" onclick="search('rows', 20)">20 per page</span>
				</div>

			</div>
		</div>
	</div>
</div>


