{% load template_methods %}
<div class="card shadow mb-2 border-left-secondary">
	<div class="card body">
		<div class="row ml-2">
			<div class="btn-group mr-auto pt-1 pb-1">
				<a class="btn btn-primary {% if search_type == 'hits' %} active {% endif %}" href="{{ urls.search_type.hits }}">
					Individual hits
				</a>
				<a class="btn btn-primary {% if search_type == 'clusters' %} active {% endif %}" href="{{ urls.search_type.clusters }}">
					Clusters
				</a>
			</div>

			<div class="mr-1 pt-1 pb-1">
				<a class="btn btn-primary {% if result_type == 'search' %} disabled {% endif %}" role="button" href="{{ urls.result_type.clusters }}">
					<i class="p-1 fad fa-align-justify"></i>
				</a>
			</div>


			<div class="mr-1 pt-1 pb-1">
				<a class="btn btn-primary {% if result_type == 'charts' %} disabled {% endif %}" role="button" href="{{ urls.result_type.charts }}">
					<i class="p-1 fal fa-chart-bar"></i>
				</a>
			</div>

			<div class="mr-5 pt-1 pb-1">
				<a class="btn btn-primary {% if result_type == 'map' %} disabled {% endif %}" role="button" href="{{ urls.result_type.map_origin }}">
					<i class="p-1 fa fa-map-marker-alt"></i>
				</a>
			</div>


			<div class="dropdown mr-1 pt-1 pb-1">
				<button class="btn btn-primary dropdown-toggle" type="button" id="sortDirectionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort by
				</button>		    
				<div class="dropdown-menu animated--fade-in" aria-labelledby="sortDirectionButton" style="">
					{% for sort_option in sort_options %}
						<a class="dropdown-item" href="{{ urls.sort_options|get_index:forloop.counter }}"> {{ sort_option.name }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="dropdown mr-4 pt-1 pb-1">
				<button class="btn btn-primary dropdown-toggle" type="button" id="resultsPerPageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Results per page	
				</button>		    
				<div class="dropdown-menu animated--fade-in" aria-labelledby="resultsPerPageButton" style="">
					{% for rows_per_page_option in rows_per_page_options %}
						<a class="dropdown-item" href="{{ urls.rows_per_page_options|get_index:forloop.counter }}"> {{ rows_per_page_option.name }}</a>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</div>


