<div>

	<p>
		This search interface uses <i>Solr</i> as backend, therefore it accepts everything that <i>Solr</i> does as search queries.</br >
	</p>

		In these instructions two terms will be used frequently:
<li>
hit - A single instance of a passage being repeated in the dataset. A single hit will be a passage from page of an issue in the dataset. A single page may contain mulitple hits, though they're generally part of different clusters.
</li>
<li>
cluster - A group of hits that all share the same (or similar enough) passage.
</li>

<br />
To search for a word, you can type word into the search bar and the search engine will find hits with that word in its passage. 
<br />
When doing simple searches for a single word you can use the word alone, but you can also specify a field <i>(which is also necessary for some more advanced searches)</i>. 
<br />
E.g. typing <i>text:word</i> into the search field will find hits that contain the word <i>word</i> in the field <i>text</i>. 
<br />

<br />
The available fields depend on whether you're searching for hits or clusters. To search for clusters, you must specify it from the <i>advanced search</i>.
<br />
Below is a list of all available fields for searching, followed by examples that show how some different search terms can be combined for more advanced queries.
<br />
<br />
<b>Available fields when searching for hits:</b>
<br />
<b>cluster_id</b> - Specifies this hit's cluster.
<br />
	<b>country</b> - Country of the issue.
<br />
	<b>date</b> - Full date of the issue.
<br />
	<b>doc_id</b> - The exact ID of the page. 
<br />
	<b>length</b> - The length of the hit.
<br />
	<b>location</b> - The city of the issue.
<br />
	<b>text</b> - The text of the hit.
<br />
	<b>title</b> - The title of the issue.
<br />
	<b>year</b> - Year of the issue.
<br />

<br />
	
<b>Available fields when searching for clusters:</b>
<br />
	<b>all_countries</b> - All countries the cluster spread to.
<br />
	<b>all_locations</b>- All cities the cluster spread to.
<br />
	<b>average_length</b> - The average length of all hits in the cluster.
<br />
	<b>cluster_id</b> - The ID of the cluster.
<br />
	<b>count</b> - The count of unique hits in the cluster.
<br />
	<b>crossed</b> - true / false. True: if the cluster spanned across two or more countries.
<br />
	<b>ending_country</b>  - The country of the last hit in the cluster.
<br />
	<b>ending_date</b>  - The date of the last hit in the cluster.
<br />
	<b>ending_location</b>  - The city of the last hit in the cluster.
<br />
	<b>ending_year</b>  - The year of the last hit in the cluster.
<br />
	<b>first_text</b>  - The text of the first hit in the cluster.
<br />
	<b>gap</b> - The biggest gap in the cluster, i.e. the maximum difference in publishing date of two subsequent hits.
<br />
	<b>locations</b> - The amount of different unique locations in the cluster.
<br />
	<b>starting_country</b>  - The country of the first hit in the cluster.
<br />
	<b>starting_date</b>  - The date of the first hit in the cluster.
<br />
	<b>starting_location</b>  - The city of the first hit in the cluster.
<br />
	<b>starting_year</b>  - The year of the first hit in the cluster.
<br />
	<b>in_city</b>  -  The incoming city of this cluster.
<br />
	<b>in_country</b>  - The incoming country of this cluster.
<br />
	<b>in_date</b>  - The date a text in a cluster appeared in a new country.
<br />
	<b>out_city</b>  - The port city of this cluster.
<br />
	<b>out_country</b>  - The port country of this cluster.
<br />
	<b>out_date</b>  - The date a text in a cluster left its original country of printing.
<br />
	<b>timespan</b> - The amount of days between the first and last hit in the cluster.
<br />
	<b>titles</b> - The amount of different unique titles in the cluster.
<br />
	<b>virality_score</b> - The virality score of the cluster.
<br />
	<b>multiple_starting_locations</b> - true/false. False: the cluster has one starting location, True: The cluster includes texts that were first printed in multiple locations on the same day.
	
<br />

<br />
<h5><b>Term instructions:</b></h5>

<br />
This engine uses Solr's default query parser, lucene.
<br />
Below are some of the most common terms that can be used.
<br />
More info can be found on Solr's documentation <a href="https://solr.apache.org/guide/6_6/the-standard-query-parser.html">here.</a>
<br />
<br />

<h5>Boolean</h5>
<i>+text:word</i> -- the word 'word' must appear in the <i>text</i> field of the hit.
<br />
<i>-text:word</i> -- the word 'word' must not appear in the <i>text</i> field of the hit.
<br />
<br />
These two can also be combined:
<br />

<i>+text:word -text:cat</i> - The word <i>word</i> must appear in the <i>text</i> field and the world <i>cat</i> must not.
<br />

<br />
<h5> Phrase search </h5>
Different solr terms are separated using whitespace, so if you want to search for a multi word phrase, you must wrap it in quotation marks:
<br />
<i>text:"this is a word"</i> - <i>"This is a word"</i> must appear in the passage.
<br />

<br />
<h5>Fuzzy matching</h5>
Solr can perform fuzzy matching, where words that are very similar to the query word are accepted.
<br />
<i>text:dog~</i> - Words that are similar to dog are accepted. E.g. dag.
<br />
This can be useful to find hits in the database, as sometimes the OCR process may have degraded the quality so that exact matches arent sufficient anymore.
<br />
<br />

<h5>Range queries:</h5>
<i>count:[50 TO *]</i> - Shows clusters that have more than 50 hits. <br />
<i>locations:[4 TO 5]</i> - Shows clusters that have spread to 4 or 5 different unique locations. 
<br />
<br />
<h5> Wildcards:</h5>
<i>word*</i> - Search for words that start with <i>word</i> and then any possible endings.
<br />
<i>word?</i> - Search for word <i>word</i> where there is one extra character at the end.
<br />
<br />
<h5> Real examples queries: </h5>
<br />
If you want to find and see all the hits and/or clusters, type: *:*

<br />
<br />
<i>brand* AND Åbo</i>
<br />
Finds hits or clusters with different forms of the word brand (for example, branden) and the word Åbo which occur in the same text

<br />
<br />
<i>brand* AND Åbo NOT Brandenburg</i>
<br />
Finds hits or clusters with different forms of the word brand (for example, branden) and the word Åbo but excludes the word Brandenburg
<br />
<br />

<i>location:Mal*</i>
<br />
Finds all hits from locations starting Mal-.
<br />
<br />

<i>title:"Vårt Land"</i>
<br />
Finds all hits for the paper Vårt Land and also all clusters, including hits from Vårt Land.
<br />
<br />

<i>timespan:[* TO 10]</i>
<br />
Finds clusters with a timespan from 0 to 10. This is preprints within the same day (0) to those within ten days.  
<br />
<br />

<i>cluster_id:cluster_13180197</i>
<br />
Finds a particular cluster.
<br />
<br />

<i>count:[* TO 50]</i>
<br />
Finds clusters with a count from 2 to 50. (The minimum count is 2, basically a text with one reprint.)
<br />
<br />

<i>crossed:true AND count:[100 TO *]</i>
<br />
Finds clusters that spanned two or more countries and with a count of 100 or more.
<br />
<br />

<i>locations:[10 TO *]</i>
<br />
Finds clusters which contain 10 or more printing locations.
<br />
<br />

<i>all_locations:(Umeå AND Oulu)</i>
<br />
Finds all clusters which have Umeå and Oulu in its printing locations.
<br />
<br />

<i>all_locations:(Umeå OR Oulu)</i>
<br />
Finds all clusters which have either Umeå or Oulu in their printing locations.
<br />

<br />
<i>all_countries:(Finland AND Norway)</i>
<br />
Finds all clusters which have been printed in both Finland and Norway.
<br />
<br />

<i>all_countries:(Finland OR "United States")</i>
<br />
Finds all clusters which have been printed in either Finland or in the United States.
<br />
<br />

<i>starting_date:"1904-10-01T00:00:00Z"</i>
<br />
Finds clusters that started on 1 October 1904.

<br />
<br />
<i>starting_date:[1804-10-01T00:00:00Z TO 1904-10-01T00:00:00Z]</i>
<br />
Finds clusters that have started between 1 October 1804 and 1 October 1904.


<br />
<br />
<i>virality_score: [90 TO 100]</i>
<br />
Finds the clusters with the highest viral scores. The viral score is a number from 0 to 100. 

<br />
<br />
<i>gap:[100 TO *]</i>
<br />
Finds clusters with reprints containing a largest time distance (a gap) of 100 years or more.
<br />


<br />
<br />
<h5>Combinations:</h5>
<i>in_city:Turku AND all_locations:(Oulu AND Vaasa)</i>
<br />
Finds all clusters where the first printing in Finland occurred in Turku (incoming city) and that have Oulu and Vaasa among their printing locations.
<br />
<br />


<i>multiple_starting_locations:True AND ending_location:Kokkola</i>
<br />
Finds clusters with texts that were first printed in more than one title and the last printing was by a newspaper in Kokkola.
<br />
<br />


<i>starting_country:Finland AND in_city:Umeå</i>
<br />
Finds clusters with a text that were first printed in Finland and moved to Sweden via Umeå.
<br />
<br />

<br />
</div>
