{% load static %}
<!doctype html>
<html>
	<head>
		<title>Swedish-language press as a cultural mediator, 1771–1918</title>
		{% include "frontend/partials/stylesheets.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					{% include "frontend/partials/navbar.html" %}

					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<div class="col-xl-6">
								<div class="card shadow mb-4 border-left-secondary">
									<div class="card body">
										<div class="col mb-2">
											<h2> About us: </h2>
										</div>
										<p>
											This page will eventually contain info about this project etc.	
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% include "frontend/partials/scripts.html" %}

	</body>
</html>
