{% load static %}
<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<head>
		<title>Text reuse in the Swedish-language press, 1645-1918</title>
		{% include "frontend/partials/stylesheets.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					{% include "frontend/partials/navbar.html" %}

					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<div class="col-xl-6 col-s-12">
								<div class="card shadow mb-4 border-left-secondary">
									<div class="card body">
										<div class="col mb-2">
											<br />
											<h5><b>Further reading</b></h5>
											<br />
											"Applying BLAST to Text Reuse Detection in Finnish Newspapers and Journals, 1771–1910." By Aleksi Vesanto, Asko Nivala, Heli Rantala, Tapio Salakoski, Hannu Salmi & Filip Ginter. In Proceedings of the 21st Nordic Conference of Computational Linguistics. Gothenburg, Sweden, 23–24 May 2017 (Linköping 2017),
											<br />
											<a href="http://www.ep.liu.se/ecp/133/010/ecp17133010.pdf">http://www.ep.liu.se/ecp/133/010/ecp17133010.pdf</a>
											<br />
											<br />
											"The reuse of texts in Finnish newspapers and journals, 1771–1920: A digital humanities perspective." By Hannu Salmi, Petri Paju, Heli Rantala, Asko Nivala, Aleksi Vesanto & Filip Ginter. Historical Methods: A Journal of Quantitative and Interdisciplinary History Volume 54, 2021 - Issue 1,
											<br />
											<a href="https://doi.org/10.1080/01615440.2020.1803166">https://doi.org/10.1080/01615440.2020.1803166</a>
											<br />
											<br />
											“Textual Migration across the Baltic Sea: Creating a database of text reuse between Finland and Sweden.” By Petri Paju, Hannu Salmi, Heli Rantala, Patrik Lundell, Jani Marjanen & Aleksi Vesanto. In Karl Berglund, Matti La Mela & Inge Zwart (eds.) Digital Humanities in the Nordic and Baltic Countries (DHNB Uppsala 2022) 6th conference, CEUR workshop proceedings, CEUR-WS.org.
											<br />
											<a href="https://ceur-ws.org/Vol-3232/paper35.pdf">https://ceur-ws.org/Vol-3232/paper35.pdf</a>
											<br />
											<br />
											”Tidningstexter över Östersjön: en databas av delat innehåll mellan Finland och Sverige.” By Petri Paju, Erik Edoff, Patrik Lundell, Jani Marjanen, Heli Rantala, Hannu Salmi & Aleksi Vesanto. Historisk Tidskrift för Finland 107 (2), 2022, 192–211.
											<br />
											<a href="https://journal.fi/htf/article/view/122146">https://journal.fi/htf/article/view/122146</a>
											<br />
											<br />
											Information Flows across the Baltic Sea: Towards a Computational Approach to Media History. Patrik Lundell, Hannu Salmi, Erik Edoff, Jani Marjanen, Petri Paju and Heli Rantala (eds.) (Mediehistoriskt arkiv, Lund 2023).
											<br />
											<a href="http://mediehistorisktarkiv.se/bocker/information-flows-across-the-baltic-sea-towards-a-computational-approach-to-media-history/">http://mediehistorisktarkiv.se/bocker/information-flows-across-the-baltic-sea-towards-a-computational-approach-to-media-history/</a>
											<br />
											<br />
											More information about the research project, mostly in Swedish:
											<br />
											<a href="https://www.sls.fi/sv/evenemang/seminarium-informationsfloden-over-ostersjon">https://www.sls.fi/sv/evenemang/seminarium-informationsfloden-over-ostersjon</a>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% include "frontend/partials/scripts.html" %}

	</body>
</html>
