{% load static %}
<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<head>
		<title>Text reuse in the Swedish-language press, 1645-1918</title>
		{% include "frontend/partials/stylesheets.html" %}
	</head>
	<body>
		{% include "frontend/partials/navbar.html" %}
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">

					<div class="container-fluid">
						{% include "frontend/partials/searchbar.html" %}
						<div class="row justify-content-md-center">
							<div class="col-xl-6 col-s-12">
								<div class="card shadow mb-4 border-left-secondary">
									<div class="card body">
										<div class="col mb-2">
										</div>
										<div class="col mb-3">
											<span>  This is a search engine for searching and analyzing text reuse clusters in the Swedish-language press from 1645 to 1918. </span>
											<span> It covers material Finland, Sweden, and also the United States. </span>
											<span> It has been produced by the project <i>Informationsflöden över Östersjön: Svenskspråkig press som kulturförmedlare 1771–1918</i> (Information Flows across the Baltic Sea: Swedish-language press as a cultural mediator, 1771–1918). </span>
										</div>
										<div class="col mb-2">
											<span> Begin by typing the desired search term into the search field above, or by clicking the advanced search tab on the top of the page. <span>
											<span> To get a list of fields and other search terms, click the i-icon next to the search bar. </span>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% include "frontend/partials/scripts.html" %}

	</body>
</html>
