{% load static %}
<!doctype html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<head>
		<title>Text reuse in the Swedish-language press, 1645-1918</title>
		{% include "frontend/partials/stylesheets.html" %}
	</head>
	<body>
		{% include "frontend/partials/navbar.html" %}
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">

					<div class="container-fluid">
						{% include "frontend/partials/searchbar.html" %}
						<div class="row justify-content-md-center">
							<div class="col-xl-6 col-s-12">
								<div class="card shadow mb-4 border-left-secondary">
									<div class="card body">
										<div class="col mb-2">
										</div>
										<div class="col mb-3">
											<span> This is a search engine designed for searching and analysing clusters of text reuse within the Swedish-language press, spanning the years 1645 to 1918. </span>
											<span> It encompasses content originating from Finland, Sweden, and the United States.  </span>
											<span> The engine has been developed as part of the project <i> Informationsflöden över Östersjön: Svenskspråkig press som kulturförmedlare 1771–1918 </i> (Information Flows across the Baltic Sea: Swedish-language press as a cultural mediator, 1771–1918). </span>
										</div>
										<div class="col mb-2">
											<span> To initiate a search, simply input your desired search term into the designated search field above, or alternatively, click on the advanced search tab located at the top of the page. </span>
											<span> For a comprehensive list of fields and additional search terms, click on the information (i) icon next to the search bar. </span>

										<hr />


										</div>
										<div class="col mb-2">
											<span> Det här är en sökmotor för sökning bland och analys av textåteranvändningskluster i den svenskspråkiga pressen mellan åren 1645 och 1918. </span>
											<span> Sökmotorn omfattar innehåll från Finland, Sverige och USA. </span>
											<span> Den har utvecklats som en del av projektet <i> Informationsflöden över Östersjön: Svenskspråkig press som kulturförmedlare 1771–1918. </i> </span>
										</div>

										<div class="col mb-2">
											<span> För att påbörja en sökning skriver du helt enkelt in ditt önskade sökord i sökfältet ovan. </span>	
											<span> Du kan annars klicka på fliken för avancerad sökning (<i>Advanced search</i>) som finns högst upp på sidan. </span>
											<span> För en lista över alla sökfält och ytterligare söktermer, klicka på informationsikonen (<i>i</i>) bredvid sökfältet. </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% include "frontend/partials/scripts.html" %}

	</body>
</html>
