{% load static %}
<html>
	<head>
		<title>Swedish-language press as a cultural mediator, 1771–1918</title>
		{% include "frontend/partials/stylesheets.html" %}
	</head>
	<body>
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					{% include "frontend/partials/navbar.html" %}

					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<div class="col-xl-6">
								<div class="card shadow mb-4 border-left-secondary">
									<div class="card body">
										<div class="col mb-2">
											<h2> Updates: </h2>
										</div>
										<div class="ml-5 mb-2">
											<b>27.06.2021:</b>
											<br />
											<span>Numerous small fixes to the data + gui</span><br />
											<span>Improve search speed with Solr changes</span><br />
										</div>

										<div class="ml-5 mb-2">
											<b>20.06.2021:</b>
											<br />
											<span> Added Swedish comhis-data to the database. </span><br />
											<span> Added option to deselect certain facet(s). </span><br />
										</div>

										<div class="ml-5 mb-2">
											<b>02.06.2021:</b>
											<br />
											<span> Added gap value. </span><br />
											<span> Added option to sort by gap. </span><br />
										</div>
										<div class="ml-5 mb-2">
											<b>25.05.2021:</b>
											<br />
											<span>Improved backend code to make things more generic.</span><br />
											<span>Added a config file for different fields etc.</span><br />
										</div>

										<div class="ml-5 mb-2">
											<b>12.05.2021:</b>
											<br />
											<span>Added data normalization options to the charts.</span><br />
											<span>Added year/month selection to the charts.</span><br />
										</div>

										<div class="ml-5 mb-2">
											<b>10.04.2021:</b>
											<br />
											<span>Added a cache: common query results are cached, so they're even faster to execute than previously</span><br />
											<span>Fixed flickering when loading search pages due to the inline JS.</span><br />
											<span>Added a maximum limit for TSV downloads (for now, 50000 hits/cluster metadatas) </span><br />
										</div>

										<div class="ml-5 mb-2">
											<b>9.04.2021:</b>
											<br />
											<span>Added updates page </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% include "frontend/partials/scripts.html" %}

	</body>
</html>
