.fa-plus {
	color: green;
}

.fa-minus {
	color: red;
}


@media screen and (min-width: 0px) and (max-width: 319px) {

    .navbar-brand, .navbar-collapse {
	font-size: 0.70rem;
    }

    .navbar-toggler-icon  {
	font-size: 0.5rem;
    }

    .wrapper {
    	font-size: 1.1rem;
    }

    .navbar-image {
	display: none;
    }

}


@media screen and (min-width: 319px) and (max-width: 480px) {

    .navbar-brand, .navbar-collapse {
	font-size: 0.70rem;
    }

    .navbar-toggler-icon  {
	font-size: 0.5rem;
    }

    .wrapper {
    	font-size: 1.1rem;
    }

    .navbar-image {
	display: none;
    }

}

@media screen and (min-width: 480px) and (max-width: 720px) {
    html {
    	font-size: 0.75rem;
    }

    .navbar-image {
	display: none;
    }

}

@media screen and (min-width: 720px) and (max-width: 900px) {
    html {
    	font-size: 1.0rem;
    }

    .navbar-image {
	display: none;
    }

}
 
@media screen and (min-width: 900px) and (max-width: 1200px) {
    html {
    	font-size: 1.0rem;
    }

    .navbar-image {
	display: none;
    }

}

.navbar-drop {
	margin-left: -16px;
	padding-left: 20px;
	margin-right: -16px;
}
