.fa-plus {
	color: green;
}

.fa-minus {
	color: red;
}

@media screen and (min-width: 0px) and (max-width: 319px) {
    html {
    	font-size: 0.35rem;
    }

    .navbar-image {
	display: none;
    }

}


@media screen and (min-width: 319px) and (max-width: 480px) {

    .navbar-brand, .navbar-collapse, .navbar-toggler-icon {
	font-size: 0.7rem;
    }

    .wrapper {
    	font-size: 1.1rem;
    }

    .navbar-image {
	display: none;
    }

}

@media screen and (min-width: 480px) and (max-width: 720px) {
    html {
    	font-size: 0.75rem;
    }

    .navbar-image {
	display: none;
    }

}

@media screen and (min-width: 720px) and (max-width: 900px) {
    html {
    	font-size: 1.0rem;
    }

    .navbar-image {
	display: none;
    }

}
 
@media screen and (min-width: 900px) and (max-width: 1080px) {
    html {
    	font-size: 1.0rem;
    }
}
